.App {
	font-family: Helvetica;
	font-size: 20px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.nav{
	padding: 25px;
	font-size: 22px;
	width: 100%;
	border-bottom: solid black 1px;
	display: flex;
	justify-content: space-around;
}
.nav .homeAbout{
	display: flex;
}

.nav .homeAbout div{
	margin-left: 20px;
}

.nav .Link {
	text-decoration: none;
}

.homeMessage{
	border: solid black 1px;
	padding: 5 px;
	display: flex;
	justify-content: center;
	margin: 30px;
	margin-top: 80px;
}

.homeContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}

.optionsContainer {
	border: solid black 1px;
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

ul {
	list-style: none;
	margin: 10px;
}

li {
	margin: 15px;
}

.aboutContainer{
	display: flex;
	height: 500px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


.installsContainer {
	border: solid 1px black;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px;
}

.installsContainer div {
	border: solid 1px black;
	margin-top: 30px;
}

.installMessage {
	padding: 5px;
}

.installInstruction {
	padding: 15px;
}

.installsContainer p {
	margin-top: 30px;
}

.tutorialContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
}

.buttonsContainer {
	display: flex;
	justify-content: center;
}

.mid{
	font-size: 18px;
	width: 100%;
	margin-top: 20px;
	display: flex;
}

.midLeft {
	border: solid 1px black;
	display:flex;
	flex-direction: column;
	justify-content: center;
	width: 45%;
	padding: 10px;
}

.midRight {
	background-color: black;
	color: lightgray;
	border: solid 1px black;
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 55%;
	padding: 10px;
}

.stepContainer {
	display:flex;
	flex-direction: column;
	width: 90%;
}


button {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:24px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
button:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
button:active {
	position:relative;
	top:1px;
}


.start {
	display:flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	margin: 80px;
}

.startButton{
	font-size: 36px;
	width: 300px;
	height: 80px;
}

.tbContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.finalStep {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.finalStep div, .tbContainer div {
	margin-top: 70px;
}